<div class="container">
  <h1 class="text-center mb-4">GameFashionArchiveにようこそ!!</h1>
  <h3>ここは架空型MMORPG　IRASUTOYA FANTASY QUESTの<br>
  コーディネートを集めたサイトです</h3>
  <h3>装備は強いけど見た目がダサく困っていたり、ファッションを純粋に楽しむために</h3>
  <h3>おしゃれ装備を見たり、見てもらったりして冒険を楽しみましょう！</h3>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="col-md-12 mb-3">
        <%= image_tag('figure_rpg_characters.png', width: "500px") %>
        <%= link_to "ログイン",new_user_session_path, class: "btn btn-primary btn-block" %>
      </div>
      <div class="col-md-12 mb-3">
        <%= link_to "新規登録",new_user_registration_path, class: "btn btn-success btn-block" %>
      </div>
      <div class="col-md-12 mb-3">
        <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn btn-warning btn-block", method: :post %>
      </div>
    </div>
  </div>
</div>