<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-4">
      <%= link_to list_path(post.id) do %>
        <%= image_tag post.get_image, style: "width: 300px; height: 300px;" %>
      <% end %>
    </div>
  <% end %>
</div>

<% if @user == @current_user %>
  <%= link_to "プロフィール編集", edit_user_path(@user) %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
<% end %>